html{
    height: 100%;
}
body{
    margin: 0;
    position: relative;
    background-color: #e5e5e5e1;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
h6{
    font-size: 1.3rem;
}
.lead{
    font-size: 1.7rem;
    text-align: center;
}
.navbar-expand-lg{
    background-color: #0a3e72;
}
p{
    font-size: 1.2rem;
}
li{
    font-size: 1.2rem; 
}
ul{
    text-align: left;
}
i{
    color: black;
    padding-bottom: 1.2rem;
}
h1{
    font-family: 'Signika', sans-serif;
}
p{
    font-size: 1.1rem;
    text-align: justify;
}
.btn-primary{
    border-radius: 1.15rem;
}
.btn-primary:hover{
    border-radius: 1.25rem;
    background-color: rgb(43, 40, 40);
}
input{

}
.form-control{
    border-radius: 1.6rem;
}
.btn-success{
    background-color: rgb(174, 185, 23);
}
.btn-success:hover{
    background-color: rgba(174, 185, 23, 0.603);
}
a :hover{
    color: rgb(218, 206, 40);
}
#darker{
    color: rgb(27, 26, 26);
}
/* Contact Form */
.contact-form {
    list-style-type: none;
    padding-left: 0;
}
.contact-form li {
    margin-bottom: 1.5rem;
    text-align: center;
}
.contact-form label {
    display: block;
    font-weight: bold;
}
.contact-form .helptext {
    display: block;
    font-size: 80%;
}