{% load static wagtailuserbar %}
<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <title>
            {% block title %}
                {% if self.seo_title %}{{ self.seo_title }}{% else %}{{ self.title }}{% endif %}
            {% endblock %}
            {% block title_suffix %}
                {% with self.get_site.site_name as site_name %}
                    {% if site_name %}- {{ site_name }}{% endif %}
                {% endwith %}
            {% endblock %}
        </title>
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        {# Favicon #}
        <link rel="shortcut icon" type="image/png" href="https://enova-live-d3cdd1395c1f403893f5d4071b0e-436698d.divio-media.org/images/rsz_enova_logo.original.png"/>
        {# Global stylesheets #}       
        <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/mysite.css' %}">

        {% block extra_css %}
            {# Override this in templates to add extra stylesheets #}
        {% endblock %}
    </head>

    <body class="{% block body_class %}{% endblock %}">        
        {% wagtailuserbar %}
        
        <!-- Nav  -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">
                <img src="https://enova-live-d3cdd1395c1f403893f5d4071b0e-436698d.divio-media.org/images/rsz_enova_logo.original.png" width="30" height="30" alt="">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarColor01">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Products & Services</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Associates & Partners</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Clients</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>

    {% block content %}
    <!-- Content from other pages  -->
    {% endblock %}

    <!-- Footer  -->
    <footer class="footer footer_look">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12 segment-one">
                    <img src="https://enova-live-d3cdd1395c1f403893f5d4071b0e-436698d.divio-media.org/images/rsz_enova_logo.original.png" class="img-fluid">
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-two">
                    <h3>Useful Links</h3>
                    <ul>
                        <li><a href="/">About</a></li>
                        <li><a href="/">Products & Services</a></li>
                        <li><a href="/">Contact Us</a></li>                           
                    </ul>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-three">
                    <h3>Follow Us</h3>
                    <div class="row">
                    <a href="https://www.facebook.com/Enova-Enterprises-109175657449740" target="_blank"><i class="fa fa-facebook fa-3x"></i></a>
                    <a href="mailto:admin@enovaenterprises.co.za" target="_blank"><i class="far fa-envelope fa-3x"></i></a>
                    </div>
                    <div class="row">
                    <a href="https://www.instagram.com/enovaent/" target="_blank"><i class="fab fa-instagram fa-3x"></i></a>
                    <a href="https://twitter.com/EnovaEnterprise" target="_blank"><i class="fab fa-twitter fa-3x"></i></a>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 segment-four">
                    <h5>© Enova Enterprises, 2020</h5>
                    <p>-All rights reserved</p>
                    <a href="https://splyce.dev" target="_blank">Designed by Splyce</a>
                </div>
            </div>
        </div>         
    </footer>

        {# Global javascript #}
        <script type="text/javascript" src="{% static 'js/mysite.js' %}"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/c6ccf4d2bc.js" crossorigin="anonymous"></script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}
    </body>
</html>
