{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags%}

{% block body_class %} template-homepage {% endblock %}

{% block content %}

    <div class="jumbotron">
        <h1 class="display-3">Enova Enterprises</h1>
        <p class="lead">Connecting Africa</p>
        <hr class="my-4">
        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead">
            <a class="btn btn-primary" href="#" role="button">Learn more</a>
        </p>
    </div>
    {{ page.body | richtext }}
    <div class="container-fluid p-5">
        <div class="row">
            <div class="col-6 offset-3">
                <div id="slide" class="carousel slide carousel-fade" data-ride="carousel">
                    <!--Indicators-->
                    <ol class="carousel-indicators">
                    <li data-target="#slide" data-slide-to="0" class="active"></li>
                    <li data-target="#slide" data-slide-to="1"></li>
                    <li data-target="#slide" data-slide-to="2"></li>
                    <li data-target="#slide" data-slide-to="3"></li>
                    <li data-target="#slide" data-slide-to="4"></li>
                    <li data-target="#slide" data-slide-to="5"></li>
                    <li data-target="#slide" data-slide-to="6"></li>
                    </ol>
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block w-100 img-fluid" src="/images/rsz_facemask_example2.original.jpg"
                        alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="/images/rsz_facemask_example.original.jpg"
                        alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="/images/rsz_facemask_example3.original.jpg"
                        alt="Third slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="/images/rsz_facemask_example4.original.jpg"
                        alt="Fourth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="/images/rsz_hats.original.jpg"
                        alt="Fifth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="/images/rsz_single_hat.original.jpg"
                        alt="Sixth slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100 img-fluid" src="/images/rsz_hats_example.original.jpg"
                        alt="Seventh">
                    </div>
                    </div>
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#slide" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#slide" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}